.product-container{
    display: flex;
    margin: 5px;
}

.image-container{
   height: 70px;
   width: 70px;
   padding: 2px 5px;
}

.btn{
    margin:0 5px;
    padding: 2px 10px;
}

.name-container,.detailed-container{
    margin:0px 20px;
}

.detailed-container{
    display: flex;
}

.detail{
    width:125px;
}

.option{
    margin-left: 60px;
    padding-top: 20px;
}